.navigation {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  border-top: 1px solid #f7f7f7;
  border-bottom: 1px solid #f7f7f7;
  border-right: none;
}

.navigation__list {
  margin: 0;
  padding: 0;
  font-size: 0;
}

.navigation__item {
  display: inline-block;
  margin-left: 75px;
}

.navigation__link {
  display: block;
  padding: 30px 33px;
  color: #484848;
  font-size: 16px;
  line-height: 16px;
  @include roboto(regular);
  text-transform: uppercase;
  text-decoration: none;
  border-top: 3px solid transparent;

  &:hover {
    @include roboto(bold);
    border-top: 3px solid #ff6868;
  }
}
